<h1>Plants#new</h1>
<%= form_for :plant do |f| %>
  <label>Type of plant:</label>
  <%= f.text_field :plant_name %><br>

  <label>Plant nickname:</label>
  <%= f.text_field :plant_nickname %><br>

  <label>Acquired on:</label>
  <%= f.text_field :acquired %><br>

  <label>Repot on:</label>
  <%= f.text_field :repot %><br>

  <label>Owner:</label>
  <%= f.collection_select :owner_id, Owner.all, :id, :username %>

  <%= f.submit "Add New Plant" %>
<% end %>
