<h1>Plants#show</h1>

<h1><%= "Name: #{@plant.plant_name}"%></h1>
<h1><%= "AKA: #{@plant.plant_nickname}"%></h1>

<li><%= "Acquired on: #{@plant.acquired}"%></li>
<li><%=link_to "Repot on: #{@plant.repot}", edit_plant_path(@plant)%></li>

<% if @plant.indoor %>
  <li><%= "Location: Indoors"%></li>
<% end %>
<% if @plant.outdoor %>
  <li><%= "Location: Outdoors"%></li>
<% end %>

<%= link_to 'Edit', edit_plant_path(@plant) %> <br />

<%= link_to 'Back', plants_path %> <br />

<%= link_to 'Delete', @plant, method: :delete, data: { confirm: 'For real?' } %><br />
